{% load static %}

{% block body %}

{% include 'adminNavigation.html' %}

<script>
    function checkpass()
    {
    if(document.changepwd.newPwd.value!=document.changepwd.confirmPwd.value)
    {
    alert('New Password and Confirm Password Does not match !! \nPlease try again carefully.');
    document.changepwd.confirmPwd.focus();
    return false;
    }
    return true;
    }
</script>

<hr style="background-color:maroon;color:white;font-size:20px;margin-top:5px;">
<marquee behavior="" direction="">Change Admin Login Password</marquee>
<hr>


<form action="" class="container mt-5" method="post" name="changepwd" onsubmit="return checkpass()">
    {% csrf_token %}

    <lable><b>Current Password</b></lable>
    <input type="password" class="form-control" name="currentPwd" required>

    <p></p>
    <lable><b>Enter New Password</b></lable>
    <input type="password" class="form-control" name="newPwd" required>


    <p></p>
    <lable><b>Confirm New Password</b></lable>
    <input type="password" class="form-control" name="confirmPwd" required>

    <p></p>
    <input type="submit" value="Submit" class="btn btn-primary">
</form>
<p></p>

{% include 'footer.html' %}

{% if error == "no" %}
<script>
    alert("Password updated Successfully!!");
    window.location = ('{% url 'logoutAdmin' %}')
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert("Something Went Wrong!!, Try again.");
</script>
{% endif %}

{% if error == "not" %}
<script>
    alert("Your Current password is incorrect !! \nPlease Try Again with correct password.");
</script>
{% endif %}

{% endblock %}